::ng-deep .mat-dialog-container {
  max-width: 90vw !important; // 🔹 Ocupará el 90% del ancho de la ventana
  max-height: 80vh !important;
  width: 100%;
  height: auto;
  overflow: hidden;
}


/* ✅ Contenedor de los inputs */
.grid-container {
  display: grid;
  gap: 15px; /* Espaciado entre elementos */
  width: 100%;
}

/* ✅ Contenedor de cada input */
.input-container {
  display: flex;
  flex-direction: column;
}

/* ✅ Estilos para la etiqueta */
.input-label {
  color: var(--Gray-50, #8D8D8D);
  font-family: Raleway;
  font-size: 12 px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* ✅ Estilos para los inputs */
.custom-input {
  width: 100%;
  padding: 6px;
  border-radius: 8px;
  border: 0px;
  background-color: #dddddd;
  font-size: 12px;
  margin-right: 10px;
}

/* ✅ Efecto cuando pasas el mouse */
.custom-input:hover {
  border-color: #2196f3;
}

/* ✅ Efecto cuando el input está enfocado */
.custom-input:focus {
  border-color: #1976d2;
  box-shadow: 0px 0px 5px rgba(25, 118, 210, 0.5);
}

/* ✅ Borde rojo si el campo es inválido */
.input-error {
  border-color: #f44336 !important;
  box-shadow: 0px 0px 5px rgba(244, 67, 54, 0.5);
}

/* ✅ Mensajes de error */
.error-message {
  color: #f44336;
  font-size: 12px;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.error-message span {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* ✅ Botón de cancelar */
.cancel-button {
  color: #f44336 !important;
}

.back-button {
  color: #545454 !important;
}


.detalle-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.detalle-table th, .detalle-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.detalle-table th {
  background-color: #1D24CA;
  color: #fff;
  font-weight: bold;
}

.grado {
  font-weight: bold;
  color: #1D24CA;
}

.custom-input {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



.total-container {
  margin-top: 10px;
  font-size: 1.1rem;
  text-align: right;
}

.modal-small {
  width: 400px;
  height: 90vh;
  transition: width 0.3s ease;
}

.modal-large {
  width: 800px;
  height: 90vh;
  transition: width 0.3s ease;
}


::ng-deep .ng-dropdown-panel {
  z-index: 99999 !important;
}

.grid-header,
.grid-row {
  display: grid;
  grid-template-columns: 250px repeat(auto-fit, minmax(100px, 1fr)) 100px 120px 100px;
  gap: 10px;
}

/* Responsive ajuste */
@media (max-width: 768px) {
  .grid-header,
  .grid-row {
    grid-template-columns: 200px repeat(auto-fit, minmax(80px, 1fr)) 80px 100px 80px;
    font-size: 14px;
  }
}

