.escuelas-container {
    padding: 20px;
    border-radius: 20px;
    min-height: 100vh;
    color: #333333;
    text-align: center;

    h1 {
      font-size: 2.2rem;
      margin-bottom: 20px;
      color: #1A20B6;
      text-align: center;
      font-family: "Raleway", serif;
    }

    .responsive-table {
        width: 100%;
        overflow-x: auto;
        display: block;
    }

    ngx-datatable {
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        overflow-x: auto;
    }

    ::ng-deep .datatable-body {
        font-size: 0.8rem;
        text-align: left;
    }

    ::ng-deep .datatable-header {
        background-color: #1D24CA;
        color: #F5F5F5;
        font-size: 0.8rem;
        font-family: "Raleway", serif;
        letter-spacing: 1px;
        border-bottom: 2px solid #D9A54A;
        padding: 5px !important;
    }

    ::ng-deep .datatable-header-cell, ::ng-deep .datatable-body-cell {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        text-align: center;
        white-space: nowrap;
    }

    .datatable-body {
        background-color: #FDF5E6;
        color: #1D24CA;
    }

    .datatable-row-even {
        background-color: #1D24CA;
    }

    .datatable-row-odd {
        background-color: #FDF5E6;
    }

    .datatable-footer {
        background-color: #D9A54A;
        color: #1D24CA;
        font-weight: bold;
        font-size: 1rem;
        text-align: center;
    }

    .span-edit, .span-delete {
        cursor: pointer;
        padding: 8px;
        &:hover {
            opacity: 0.8;
        }
    }

    .span-edit {
        color: #1D24CA;
    }

    .span-delete {
        color: #F32237;
    }

    .buscador-agregar-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }

    .buscador {
        position: relative;
        flex-grow: 1;
        margin-right: 20px;
    }

    .buscador-input {
        width: 100%;
        padding: 6px;
        border-radius: 8px;
        border: 0px;
        background-color: #dddddd;
        font-size: 12px;
        margin-right: 10px;
    }

    .buscador-input::placeholder {
        font-size: 12px;
    }

    .buscador-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #666;
        font-size: 20px;
        pointer-events: none;
    }

    .home-button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: #1A20B6;
      color: #FFFFFF;
      padding: 5px;
      border-radius: 12px;
      border: 1px solid transparent;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #151A99;
      }

      .icon {
        font-size: 20px;
      }
    }

    @media screen and (max-width: 768px) {
        .responsive-table {
            overflow-x: scroll;
            display: block;
            white-space: nowrap;
        }

        .datatable-header-cell, .datatable-body-cell {
            font-size: 0.7rem;
            padding: 8px;
        }
    }


  }
