<section class="vh-100 d-flex">
  <div class="container-fluid d-flex p-0">
    <!-- Sección izquierda con imagen -->
    <div class="col-md-6 left-section">
      <img src="assets/pcLogin.png" class="img-fluid" alt="Laptop image">
      <div class="branding">
        <p class="mb-0">By</p>
        <img src="assets/tripoint.png" alt="TriPoint Logo">
      </div>
    </div>
    
    <!-- Sección derecha con formulario -->
    <div class="col-md-6 right-section">
      <div class="form-container">
        <h2>Iniciar sesión</h2>
        <form (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="email" class="form-label">Nombre de usuario</label>
            <input type="email" id="email" class="form-control" placeholder="Usuario" [(ngModel)]="email" name="email" required>
          </div>
          <div class="mb-3 position-relative">
            <label for="password" class="form-label">Contraseña</label>
            <input [type]="passwordVisible ? 'text' : 'password'" id="password" class="form-control" placeholder="Contraseña" [(ngModel)]="password" name="password" required>
            <span class="material-symbols-outlined span-view" (click)="togglePasswordVisibility()">
              {{ passwordVisible ? 'visibility_off' : 'visibility' }}
            </span>
          </div>
          <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </form>
      </div>
    </div>
  </div>
</section>
