<div class="pedidos-container">
    <h1>PEDIDOS</h1>

    <div class="buscador-agregar-container">
        <div class="buscador">
            <input type="text" placeholder="Buscar pedido..." [(ngModel)]="searchTerm" (input)="filterPedidos()" class="buscador-input" />
            <span class="material-symbols-outlined buscador-icon">search</span>
        </div>
        <button class="submit-button" (click)="abrirModal()">Agregar pedido</button>
    </div>

    <ngx-datatable
        [rows]="filteredRows"
        [columns]="[
            { prop: 'escuela', name: 'Escuela', flexGrow: 2 },
            { prop: 'grado', name: 'Grado', flexGrow: 1 },
            { prop: 'fecha', name: 'Fecha', flexGrow: 2 },
            { name: 'Detalle', cellTemplate: detalleTpl, flexGrow: 1 },
            { name: 'Acciones', cellTemplate: actionTpl, flexGrow: 2 }
        ]"
        class="bootstrap"
        columnMode="flex"
        [headerHeight]="60"
        [footerHeight]="50"
        [rowHeight]="50"
        [scrollbarV]="true"
    >
    </ngx-datatable>

    <!-- Template para el icono de detalle -->
    <ng-template #detalleTpl let-row="row">
        <span class="material-symbols-outlined span-view" (click)="verDetalle(row)">
            visibility
        </span>
    </ng-template>

    <!-- Template para los iconos de acción -->
    <ng-template #actionTpl let-row="row">
        <span class="material-symbols-outlined span-edit" (click)="editarPedido(row)">
            edit
        </span>
        <span class="btn-delete material-symbols-outlined span-delete" (click)="eliminarPedido(row)">
            delete
        </span>
    </ng-template>
</div>
