<aside class="sidebar">
  <div class="sidebar-header">
    <img src="assets/logoSanJudas.png" alt="logo" />
  </div>
  <ul class="sidebar-links">
    <li>
      <a class="text-white" style="cursor: pointer;" (click)="handleClick('home')">
        <span class="material-symbols-outlined">home</span>Inicio
      </a>
    </li>
    <li>
      <a class="text-white" style="cursor: pointer;" (click)="handleClick('pedidos')">
        <span class="material-symbols-outlined">shopping_cart</span>Pedidos
      </a>
    </li>
    <li>
      <a class="text-white" style="cursor: pointer;" (click)="handleClick('presupuestos')">
        <span class="material-symbols-outlined">attach_money</span>Presupuestos
      </a>
    </li>
    <li>
      <a class="text-white" style="cursor: pointer;" (click)="handleClick('escuelas')">
        <span class="material-symbols-outlined">school</span>Escuelas
      </a>
    </li>
    <li>
      <a class="text-white" style="cursor: pointer;" (click)="handleClick('productos')">
        <span class="material-symbols-outlined">inventory</span>Productos
      </a>
    </li>
    <li>
      <a class="text-white" style="cursor: pointer;" (click)="handleClick('reportes')">
        <span class="material-symbols-outlined">bar_chart</span>Reportes
      </a>
    </li>
    <li>
      <a class="text-white" style="cursor: pointer;" (click)="handleClick('usuarios')">
        <span class="material-symbols-outlined">people</span>Usuarios
      </a>
    </li>
    <li>
      <a class="text-white" style="cursor: pointer;" (click)="handleClick('mantenimientos')">
        <span class="material-symbols-outlined">build</span>Mantenimientos
      </a>
    </li>
    <li>
      <a class="text-white" style="cursor: pointer;" (click)="handleClick('logout')">
        <span class="material-symbols-outlined">logout</span>Salir
      </a>
    </li>
  </ul>
</aside>
