<div class="productos-container">
    <h1>PRODUCTOS</h1>
    <div class="buscador-agregar-container">
      <div class="buscador">
          <input type="text" placeholder="   Buscar producto..." [(ngModel)]="searchTerm" (input)="filterProducts()" class="buscador-input" />
          <span class="material-symbols-outlined buscador-icon">search</span>
      </div>
      <button class="submit-button" (click)="abrirModal()">
          <!-- <span class="material-symbols-outlined">add</span> -->
          Agregar producto
      </button>
      <div style="margin-left: 10px;" class="button-container">
        <button class="submit-button" (click)="downloadPrices(this.rows)">Descargar Precios</button>
    </div>
  </div>


    <ngx-datatable
      [rows]="filteredRows"
      [columns]="[
      { prop: 'nombre', name: 'Nombre del Producto', flexGrow: 5},
      { prop: 'precio_variable', name: 'Precio', flexGrow: 1 },
      { prop: 'marca', name: 'Marca', flexGrow: 1 },
      { prop: 'id_categoria.nombre', name: 'Categoría', flexGrow: 1 },
      { prop: 'id_unidad_medida.nombre', name: 'U. Medida', flexGrow: 1 },
      { name: 'Acciones', cellTemplate: actionTpl, flexGrow: 1 }
      ]"
      class="bootstrap force-table"
      columnMode="force"
      [headerHeight]="60"
      [footerHeight]="50"
      [scrollLeft]="true"
      [rowHeight]="50"
      [scrollbarV]="false"
    >
    </ngx-datatable>

    <ng-template #actionTpl let-row="row">
      <span (click)="editarProducto(row)" class="material-symbols-outlined span-edit">
        edit
      </span>
      <span (click)="eliminarProducto(row)" class="btn-delete material-symbols-outlined span-delete">
        delete
        </span>

    </ng-template>
  </div>
