.productos-container {
    padding: 20px;
    background-color: #FDF5E6;
    border-radius: 10px;
    min-height: 100vh;
    color: #1D4D5D;
    text-align: center;
  
    h1 {
      font-size: 2.2rem;
      margin-bottom: 20px;
    }
  
    .btn-agregar {
      background-color: #D9A54A;
      color: #fff;
      border: none;
      padding: 10px 20px;
      margin-bottom: 20px;
      border-radius: 8px;
      cursor: pointer;
      transition: background 0.3s ease;
  
      &:hover {
        background-color: #b9832f;
      }
    }
  
    ngx-datatable {
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      
        ::ng-deep .datatable-header {
          background-color: #AFCFC8; // Verde claro
          color: #1D4D5D; // Azul oscuro
          font-size: 1.1rem;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 1px;
          text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
          border-bottom: 2px solid #D9A54A; // Línea dorada
        }

        ::ng-deep .datatable-header-cell {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          padding: 12px 0;
        }
      
        .datatable-body {
          background-color: #FDF5E6;
          color: #1D4D5D;
      
          .datatable-row-even {
            background-color: #AFCFC8;
          }
      
          .datatable-row-odd {
            background-color: #FDF5E6;
          }
      
          .datatable-body-cell {
            padding: 15px;
            font-size: 1rem;
            text-align: center;
          }
        }
      
        .datatable-footer {
          background-color: #D9A54A;
          color: #1D4D5D;
          font-weight: bold;
          font-size: 1rem;
          text-align: center;
        }
      }
      
  
    .btn-accion {
      padding: 8px 12px;
      margin: 0 5px;
      border: none;
      border-radius: 6px;
      color: #fff;
      cursor: pointer;
      font-size: 0.9rem;
      transition: background 0.3s ease;
  
      &.editar {
        background-color: #AFCFC8;
        &:hover {
          background-color: #89b0a6;
        }
      }
  
      &.eliminar {
        background-color: #D9A54A;
        &:hover {
          background-color: #b9832f;
        }
      }
    }
  }
