.productos-container {
    padding: 20px;
    border-radius: 20px;
    min-height: 100vh;
    color: #333333;
    text-align: center;
  
    h1 {
      font-size: 2.2rem;
      margin-bottom: 20px;
      color: #1A20B6;
      text-align: center;
      font-family: "Raleway", serif;
    }
  
    .btn-agregar {
      background-color: #1D24CA;
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      margin-bottom: 20px;
      border-radius: 8px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background 0.3s ease;
      display: flex; /* Asegurar que el botón se comporte como un bloque */
      margin-left: auto; 
      &:hover {
        background-color: #8F93EE;
      }
    }
  
    ngx-datatable {
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      
        ::ng-deep .datatable-header {
          background-color: #1D24CA; // Verde claro
          color: #F5F5F5; // Azul oscuro
          font-size: 1.1rem;
          text-transform: uppercase;
          font-family: "Raleway", serif;
          letter-spacing: 1px;
          border-bottom: 2px solid #D9A54A; // Línea dorada
          padding: 5px !important;
        }
        ::ng-deep .datatable-body{
          padding: 15px !important;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        ::ng-deep .datatable-header-cell {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          padding: 12px 0;
        }
      
        .datatable-body {
          background-color: #FDF5E6;
          color: #1D24CA;
          
      
          .datatable-row-even {
            background-color: #1D24CA;
          }
      
          .datatable-row-odd {
            background-color: #FDF5E6;
          }
      
          .datatable-body-cell {
            padding: 15px;
            font-size: 1rem;
            text-align: center;
          }
        }
      
        .datatable-footer {
          background-color: #D9A54A;
          color: #1D24CA;
          font-weight: bold;
          font-size: 1rem;
          text-align: center;
        }
      }
      
  
    .btn-accion {
      padding: 8px 12px;
      margin: 0 5px;
      border: none;
      border-radius: 6px;
      color: #fff;
      cursor: pointer;
      font-size: 0.9rem;
      transition: background 0.3s ease;
  
      &.editar {
        background-color: #AFCFC8;
        &:hover {
          background-color: #89b0a6;
        }
      }
  
      &.eliminar {
        background-color: #F32237;
        &:hover {
          background-color: #b9832f;
        }
      }
    }

    .span-edit{
      cursor: pointer;
      padding: 8px;
      color: #1D24CA;&:hover {
        color: #8F93EE;
      }
    }
    .span-delete{
      cursor: pointer;
      padding: 8px;
      color: #F32237; &:hover {
        color: #F88691;
      }
      
    }
  }
