<div class="productos-container">
    <h1>PRODUCTOS</h1>
    <div class="buscador">
      <input type="text" placeholder="Buscar producto..." [(ngModel)]="searchTerm" (input)="filterProducts()" />
    </div>
    <button class="btn-agregar">
      <span class="material-symbols-outlined">add</span>
    </button>
   
  
    <ngx-datatable
      [rows]="rows"
      [columns]="[
        { prop: 'id', name: 'ID', flexGrow: 1 },
        { prop: 'nombre', name: 'Nombre del Producto', flexGrow: 2 },
        { prop: 'descripcion', name: 'Descripción', flexGrow: 3 },
        { prop: 'precio', name: 'Precio', flexGrow: 1 },
        { prop: 'marca', name: 'Marca', flexGrow: 1 },
        { prop: 'categoria', name: 'Categoría', flexGrow: 1 },
        { prop: 'unidad', name: 'U. Medida', flexGrow: 1 },
        { name: 'Acciones', cellTemplate: actionTpl, flexGrow: 2 }
      ]"
      class="bootstrap"
      columnMode="flex"
      [headerHeight]="60"
      [footerHeight]="50"
      [rowHeight]="50"
      [scrollbarV]="false"
    >
    </ngx-datatable>
  
    <ng-template #actionTpl let-row="row">

      <span class="material-symbols-outlined span-edit">
        edit
        </span> 
      <span class="btn-delete material-symbols-outlined span-delete">
        delete
        </span>

    </ng-template>
  </div>
  