<div class="usuarios-container">
    <h1>USUARIOS</h1>

    <div class="buscador-agregar-container">
        <div class="buscador">
            <input type="text" placeholder="Buscar usuario..." [(ngModel)]="searchTerm" (input)="filterUsuarios()" class="buscador-input" />
            <span class="material-symbols-outlined buscador-icon">search</span>
        </div>
        <button class="submit-button" (click)="abrirModal()">Agregar usuario</button>
    </div>

    <ngx-datatable
        [rows]="filteredRows"
        class="bootstrap force-table"
        columnMode="force"
        [headerHeight]="60"
        [footerHeight]="50"
        [rowHeight]="50"
        [scrollbarV]="false"
    >
        <ngx-datatable-column name="Nombre" prop="nombre" [flexGrow]="3"></ngx-datatable-column>
        <ngx-datatable-column name="Contacto" prop="contacto" [flexGrow]="2"></ngx-datatable-column>
        <ngx-datatable-column name="Usuario" prop="correo" [flexGrow]="3"></ngx-datatable-column>
        <ngx-datatable-column name="Acciones" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="material-symbols-outlined span-edit" (click)="abrirModal(row)">
                    edit
                </span>
                <span class="btn-delete material-symbols-outlined span-delete" (click)="eliminarUsuario(row)">
                    delete
                </span>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
