.btn-logout {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: darkred;
  }
}
